<%= flash[:notice] %>
<h1>Books</h1>

<% @books.each do |book| %>
 <div>
  <table class=class="table table-striped">
  <tr>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
  </tr>
  <tr>
   <td><%= link_to user_path(book.user.id) do %>
       <%= image_tag book.user.get_profile_image(100,100) %>
       <% end %>
   </td>
   <td><%= link_to book_path(book.id) do %>
       <%= book.title %>
       <% end %>
   </td>
   <td><%= book.body %></td>
  </tr>
  </table>
 </div>
<% end %>

<div>
 <h1>User Info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table>
   <tr>
    <th>Name</th><th><%= @user.name%></th>
   </tr>
   <tr>
    <th>introduction</th>
    <td><%= @user.introduction %></td>
   </tr>
   <tr>
    <td>
      <%  if @user.id ==current_user.id %>
       <a class="btn btn-block btn-outline-secondary" href="/users/<%= current_user.id %>/edit"><i class=" fas fa-user-cog "></i></a>
      <% else %>
       <a class="btn btn-block btn-outline-secondary"  href="/users/<%= current_user.id %>"><i class=" fas fa-user-cog "></i></a>
      <% end %>
     </td>
   </tr>
  </table>
 </div>

<h3>New book</h3>
  <% if Book.new.errors.any? %>
  <%= Book.new.errors.count %>errors prohibited this obj from being saved:
  <ul>
   <% Book.new.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>
  <% end %>
  <%= form_with model: Book.new do |f| %>
      <label>Title</label><br>
      <%= f.text_field :title %><br>
     <label>Opinion</label><br>
      <%= f.text_area :body %><br>
    <input class= "btn btn-success" type="submit" value="Create Book">
     <% end %>
   </div>


