<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<% @users.each do |user| %>
 <div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book_image.get_image %>
  <% end %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <p>Title：<%= book.title %></p>
  <p>Opinion:<%= book.opinion %></p>
  <p><%= book.user.name %></p>
 </div>
<% end %>