<div>
 <h3>User Info</h3>
  <%= image_tag books.get_profile_image(100,100) %>
  <table>
   <tr>
    <th>Name</th><th><%= books.name%></th>
   </tr>
   <tr>
    <th>introduction</th>
    <th><%= books.introduction %></th>
   </tr>
   <tr>
    <% if books==current_user %>
    <th><a class="btn btn-block btn-outline-secondary " href="/users/<%= current_user.id %>/edit"><i class="fas fa-user-cog"></i></a>
     </th>
    <% else %>
    <th><a class="btn btn-block btn-outline-secondary"  href="/users/<%= books.id %>/edit"><i class="fas fa-user-cog"></i></i></a>
      <% end %>
     </th>
   </tr>
  </table>
 </div>


