<% @books.each do |book| %>
 <div>
  <%= link_to book_path(book.id) do %>
   <%= image_tag book.get_image %>
  <% end %>
 </div>
 <div>
  <%= image_tag book.get_image %>
  <%= image_tag 'no_image.jpg' %>
  <p>Title:
   <%= link_to  book_path(book.id) do %>
   <%= book.title %></p>
  <% end %>
  <p>Opinion：<%= book.opinion %></p>
  <p><%= book.user.name %></p>
 </div>
<% end %>