<%= flash[:notice] %>
<div>
  <%= image_tag @book.get_image %>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
   <%= @book.user.name%>


</div>
<% if @book.user_id == current_user.id %>
 <%= link_to "Edit", edit_book_path(@book.id) %>
 <%= link_to "Destroy", book_path(@book.id), method: :delete %>
<% end %>

<h1>New Book</h1>

<%= form_with model: @books,  method: :post do |f| %>

    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'create book' %>
  <% end %>

<%= render 'list', books: @books %>
